.button {
    background-color: #008000;
    color: white;
    padding: 10px;
    border: none;
    min-height: 40px;
    cursor: pointer;
    transition: background 1s;
}

.button:hover {
    background-color: #00b300;
}

.button--remove {
    background-color: #ff0000;
}

.button--remove:hover {
    background-color: #ff5452;
}