.section {
    margin: 10px auto;
    background-color: #fff;
}

.section__head {
    padding: 20px;
    border-bottom: 3px solid #eee;
    margin: 0;
}

.section__list {
    list-style-type: none;
    padding: 20px;
}

.section__listItem {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    word-break: break-word;
    padding: 10px;
    grid-gap:20px;
    border-bottom: 3px solid #eee;
}

.section__content {
    text-decoration: line-through;
}