.section {
    margin: 10px auto;
    background-color: #fff;
}

.section__head {
    padding: 20px;
    border-bottom: 3px solid #eee;
    margin: 0;
}

.section__list {
    list-style-type: none;
    padding: 20px;
}

.section__listItem {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #eee;
}